name: CI-build

# Controls when the workflow will run
on:
  # Triggers the workflow on push
  push:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    env:
      TOOLCHAIN_CLANG_URL: https://mirrors.edge.kernel.org/pub/tools/llvm/files/llvm-21.1.8-x86_64.tar.xz
      TOOLCHAIN_GCC_ARM64_URL: https://mirrors.edge.kernel.org/pub/tools/crosstool/files/bin/x86_64/15.2.0/x86_64-gcc-15.2.0-nolibc-aarch64-linux.tar.xz
      TOOLCHAIN_GCC_ARM_URL: https://mirrors.edge.kernel.org/pub/tools/crosstool/files/bin/x86_64/15.2.0/x86_64-gcc-15.2.0-nolibc-arm-linux-gnueabi.tar.xz
      CROSS_COMPILE: aarch64-linux-
      CROSS_COMPILE_ARM32: arm-linux-gnueabi-
      KBUILD_BUILD_TIMESTAMP: 'Wed Jul 15 12:00:00 UTC 2018'
      KBUILD_BUILD_USER: awawa42
      KBUILD_BUILD_HOST: github_action
      CCACHE_SLOPPINESS: 'time_macros,include_file_mtime,include_file_ctime'
      CCACHE_DIR: ${{ github.workspace }}/.ccache
      CCACHE_MAXSIZE: 2G
      CCACHE_COMPRESS: 1
      CCACHE_NOHASHDIR: 'true'
      CCACHE_COMPILERCHECK: content

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4
        if: github.ref_name == 'main'
        with:
         path: 'CI'

      - uses: actions/checkout@v4
        if: ${{ ! github.ref_name == 'main' }}
        with:
          ref: main
          path: 'CI'

      - uses: actions/checkout@v4
        if: github.ref_name == 'main'
        with:
          ref: 4.4-selfuse-sukisu
          path: 'kernel'
          submodules: recursive

      - uses: actions/checkout@v4
        if: ${{ ! github.ref_name == 'main' }}
        with:
          path: 'kernel'
          submodules: recursive

      - uses: actions/cache@v4
        id: cache
        name: Setup cache
        with:
          key: ${{ env.TOOLCHAIN_CLANG_URL }}
          path: |
            ${{ github.workspace }}/toolchain
            ${{ github.workspace }}/.ccache

      - name: Download toolchains
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          mkdir "$GITHUB_WORKSPACE/toolchain"
          curl "$TOOLCHAIN_CLANG_URL" |tar -C "$GITHUB_WORKSPACE/toolchain" --xz -xv
          curl "$TOOLCHAIN_GCC_ARM64_URL" |tar -C "$GITHUB_WORKSPACE/toolchain" --xz -xv
          curl "$TOOLCHAIN_GCC_ARM_URL" |tar -C "$GITHUB_WORKSPACE/toolchain" --xz -xv

      - name: Install dependencies
        run: |
          sudo apt update -y
          sudo apt install ccache build-essential 7zip -y

      - name: Build
        run: |
          set -x
          cd "$GITHUB_WORKSPACE/kernel"
          export PATH="$GITHUB_WORKSPACE/toolchain/llvm-21.1.8-x86_64/bin:$GITHUB_WORKSPACE/toolchain/gcc-15.2.0-nolibc/aarch64-linux/bin:$GITHUB_WORKSPACE/toolchain/gcc-15.2.0-nolibc/arm-linux-gnueabi/bin:$PATH"
          DEF_CONFIG=whyred_defconfig
          test -f ./arch/arm64/configs/whyred_selfuse_defconfig && DEF_CONFIG=whyred_selfuse_defconfig
          make -j$(( $(nproc) +1 )) O=out ARCH=arm64 "$DEF_CONFIG"
          make -j$(( $(nproc) +1 )) O=out ARCH=arm64 \
            CC="ccache clang"
          
      - name: Ccache statics
        run: |
          ccache -p
          ccache -s

      - name: make ak3 zip
        run: 7zz a -tzip San-kernel-4.4-whyred-selfuse.zip  "$GITHUB_WORKSPACE/kernel/out/arch/arm64/boot/Image.gz-dtb" "$GITHUB_WORKSPACE/CI/anykernel3/*"

      - name: upload to tg
        env:
          CHAT_ID: ${{ secrets.CHAT_ID }}
          API_KEY: ${{ secrets.TG_BOT_TOKEN }}
        run: curl -X POST 'https://api.telegram.org/bot${API_KEY}/sendDocument' -F "chat_id=${CHAT_ID}" -F "document=@./San-kernel-4.4-whyred-selfuse.zip" -F caption="CI" > /dev/null
